<!DOCTYPE html>
<html>
  <head>
    <title>Nicolas Schmidt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div
      id="app"
    >
      <header-component>
      </header-component>
      <about>
      </about>
      <%= yield %>
      <footer-component>
      </footer-component>
    </div>
  </body>
</html>
